<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div style="background-color:#e5e5e5; border-radius:5px; height:500px;">
                <br>
                <br>
                <br>
                <br>
                <img style="width:300px;margin-left:auto;margin-right:auto;display:block;" src="../../assets/library/take-shot.png">
                <h4 style="font-weight:bold;color:#6203F9; line-height:70px; text-align:center">Capture every moment!</h4>
            </div>
        
        
        </div>
        <div class="col-md-8">
            <form>
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <!-- <input type="email" id="form2Example1" class="form-control" />
                  <label class="form-label" for="form2Example1">Email address</label> -->
                  <mat-form-field style="border-color:whitesmoke !important;
                  width:100%; height:1px !important" class="form-white" appearance="outline">
              <mat-label style="color:gray !important;" class="form-label" for="typeEmail">Email</mat-label>
              <input matInput type="text" id="typeEmail" placeholder="example@gmail.com">
            </mat-form-field>
                </div>
                
                
                <!-- Password input -->
                <div class="mb-4">
                  <!-- <input type="password" id="form2Example2" class="form-control" />
                  <label class="form-label" for="form2Example2">Password</label> -->
                  <mat-form-field style="border-color:whitesmoke !important;
                    width:100%; height:1px !important" class="form-white" appearance="outline">
                <mat-label style="color:gray !important;" class="form-label" for="typePassword">Password</mat-label>
                <input matInput type="password" id="typePassword" placeholder="●●●●●●●●">
              </mat-form-field>
                </div>
              
                <!-- 2 column grid layout for inline styling -->
                <div class="row mb-4">
                  <div class="col d-flex justify-content-center">
                    <!-- Checkbox -->
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="form2Example34" checked />
                      <label class="form-check-label" for="form2Example34"> Remember me </label>
                    </div>
                  </div>
              
                  <div class="col">
                    <!-- Simple link -->
                    <a href="#!">Forgot password?</a>
                  </div>
                </div>
              
                <!-- Submit button -->
                <a class="dacBiet" routerLink="/admin-dashboard"><button class="btn btn-primary btn-block mb-4" (click)="checkSignIn()">Sign in</button></a>
              
                <!-- Register buttons -->
                <div class="text-center">
                  <p>Not a member? <a href="#!">Register</a></p>
                  <!-- <p>or sign up with:</p>
                  <button type="button" class="btn btn-primary btn-floating mx-1">
                    <i class="fab fa-facebook-f"></i>
                  </button>
              
                  <button type="button" class="btn btn-primary btn-floating mx-1">
                    <i class="fab fa-google"></i>
                  </button>
              
                  <button type="button" class="btn btn-primary btn-floating mx-1">
                    <i class="fab fa-twitter"></i>
                  </button>
              
                  <button type="button" class="btn btn-primary btn-floating mx-1">
                    <i class="fab fa-github"></i>
                  </button> -->
                </div>
              </form>
        </div>
    </div>
</div>