<!-- *ngIf="premiumSection" -->
<!-- <div class="text-center center thePhu">
  <h3 style="line-height:120px; vertical-align:center; font-weight:bold; color:black">UNLIMITED PHOTO STORAGE !</h3>
  <a routerLink="/get-premium"><button type="button" class="btn"
          style="background-color: #6203F9; color: white; font-weight:bold; width:260px;"><span
              style="font-size:15px">GET PREMIUM NOW !</span></button></a>
</div> -->

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
<!-- <script src="https://kit.fontawesome.com/09f1ff1e12.js" crossorigin="anonymous"></script> -->
<!-- Footer -->
<footer class="text-center text-lg-start mt-5 footerCSS1">
    <img src="../../assets/library/Infinity_Favicon.png" style="height:75px;margin-left:auto;margin-right:auto;display:block">
    <br>
    <h4 class="text-center" style="color:#6203F9; font-weight:bold">infinity team</h4>
    <!-- Section: Social media -->
    <!-- <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    > -->
      <!-- Left -->
      <!-- <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div> -->
      <!-- Left -->
  
      <!-- Right -->
      <!-- <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div> -->
      <!-- Right -->
    <!-- </section> -->
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="" style="padding-top:10px;">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <!-- <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            Content
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Company name
            </h6>
            <p>
              Here you can use rows and columns to organize your footer content. Lorem ipsum
              dolor sit amet, consectetur adipisicing elit.
            </p>
          </div> -->
          <!-- Grid column -->
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Destinations
            </h6>
            <p>
              <a href="" class="text-reset riengbiet">Destination 1</a>
            </p>
            <p>
              <a href="" class="text-reset riengbiet">Destination 2</a>
            </p>
            <p>
              <a href="" class="text-reset riengbiet">Destination 3</a>
            </p>
          </div>
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Activities
            </h6>
            <p>
              <a href="/about" class="text-reset riengbiet">Introduction</a>
            </p>
            <p>
              <a href="" class="text-reset riengbiet">Careers</a>
            </p>
          </div>
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Privacy Policy
            </h6>
            <p>
              <a href="" class="text-reset riengbiet">Customer</a>
            </p>
            <p>
              <a href="" class="text-reset riengbiet">Transference
              </a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
                Contact
            </h6>
            <p>
              <a href="" class="text-reset riengbiet">Customer service</a>
            </p>
            <p>
              <a href="" class="text-reset riengbiet">HR Department</a>
            </p>
          </div>
          <!-- Grid column -->
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 text-center">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              About Us
            </h6>

            <a style="margin-right:10px;" href="https://www.facebook.com/infinityteamkms" target="blank"><img src="../../../assets/library/facebook_icon_153518.png" style="width: 39px; margin-right:5px"></a>
            <!-- <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a> -->
            <a style="margin-left:10px;" href="https://www.instagram.com/infinityteamkms/" target="blank"><img src="../../../assets/library/instagram_icon_138461.png" style="width: 39px; margin-left:5px"></a>
            
            <!-- <a href="https://www.facebook.com/infinityteamkms" target="_blank"><i class="fab fa-facebook-square "></i></a> -->
            <!-- <a href="https://www.instagram.com/infinityteamkms/" target="_blank"><i class="fab fa-instagram "></i></a> -->

            <!-- <br>
            <a href="https://moit.gov.vn/" target="blank"><img src="../../../assets/library/congthuong.png" style="width: 150px; margin-top:20px"></a> -->
          </div>
          <!-- Grid column -->
          <!-- Grid column -->
          <!-- <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4"> -->
            <!-- Links -->
            <!-- <h6 class="text-uppercase fw-bold mb-4">
              Kết nối với chúng tôi
            </h6>
            <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              info@example.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
          </div> -->
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4">
    <br>
    © 2023 Copyright:
      <a class="text-reset fw-bold riengbiet3" href="/home">INFINITYTEAM</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
  <div class="accordion footerCSS2" id="accordionExample" style="display: none;margin-top:39px;">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button
          class="accordion-button collapsed"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#collapseOne"
          aria-expanded="false"
          aria-controls="collapseOne"
        >
          Destinations
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-mdb-parent="#accordionExample">
        <div class="accordion-body">
          <p>
            <a href="" class="text-reset riengbiet">Destination 1</a>
          </p>
          <p>
            <a href="" class="text-reset riengbiet">Destination 2</a>
          </p>
          <p>
            <a href="" class="text-reset riengbiet">Destination 3</a>
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button
          class="accordion-button collapsed"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          Activities
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-mdb-parent="#accordionExample">
        <div class="accordion-body">
          <p>
            <a href="" class="text-reset riengbiet">Introduction</a>
          </p>
          <p>
            <a href="" class="text-reset riengbiet">Careers</a>
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button
          class="accordion-button collapsed"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          Privacy Policy
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-mdb-parent="#accordionExample">
        <div class="accordion-body">
          <p>
            <a href="" class="text-reset riengbiet">Customer</a>
          </p>
          <p>
            <a href="" class="text-reset riengbiet">Transference</a>
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFour">
        <button
          class="accordion-button collapsed"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#collapseFour"
          aria-expanded="false"
          aria-controls="collapseFour"
        >
        Contact
        </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-mdb-parent="#accordionExample">
        <div class="accordion-body">
          <p>
            <a href="" class="text-reset riengbiet">Customer service</a>
          </p>
          <p>
            <a href="" class="text-reset riengbiet">HR Department</a>
          </p>
        </div>
      </div>
    </div>
    <div style="text-align: center; padding:20px;">
      <img src="../../assets/library/LogoTeam8KMS_black.png" style="width:100px;margin-left:auto; margin-right:auto; display:block">
      <br>
      <h4 style="text-align: center; color:black">About Us</h4>
      <!-- https://twitter.com/infinityteamkms -->
      <!-- https://dribbble.com/infinityteamkms -->
      <!-- https://www.youtube.com/channel/UCqcjH6IqkWaTeyku8QT-elA -->
      <a href="https://www.facebook.com/infinityteamkms" target="blank"><img src="../../../assets/library/facebook_icon_153518.png" style="width: 39px; margin-right:5px"></a>
      <a href="https://www.instagram.com/infinityteamkms/" target="blank"><img src="../../../assets/library/instagram_icon_138461.png" style="width: 39px; margin-left:5px"></a>
        
    </div>
    <!-- <div class="accordion-item">
      <h2 class="accordion-header" id="headingFive">
        <button
          class="accordion-button collapsed"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          MarPet Media
        </button>
      </h2>
      <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-mdb-parent="#accordionExample">
        <div class="accordion-body">
          <a href="https://www.facebook.com/infinityteamkms" target="blank"><img src="../../../assets/library/facebook_icon_153518.png" style="width: 39px; margin-right:5px"></a>
          <a href="https://www.instagram.com/infinityteamkms/" target="blank"><img src="../../../assets/library/instagram_icon_138461.png" style="width: 39px; margin-left:5px"></a>
        
          </div>
      </div>
    </div> -->
    <!-- <br>
    <img src="../../../assets/library/congthuong.png" style="width:200px; margin-left:auto; margin-right:auto;display:block;">
    <br> -->
    <div class="text-center p-4">
      <!-- <img src="../../../assets/library/congthuong.png" style="width:200px; margin-left:auto; margin-right:auto;display:block;"> -->
      <!-- <br> -->
      © 2022 Bản quyền thuộc:
        <a class="text-reset fw-bold riengbiet3" href="/home">INFINITYTEAM</a>
      </div>
  </div>